<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed Clicker</title>
</head>
<body>
    <h1>====Speed clicker====</h1>
    <h2>by itsal3xis</h2>
    <form action="/start" method="post">
        <label for="clicks">Number of clicks:</label><br>
        <input type="radio" id="clicks" name="clicks" value="50"> 50<br>
        <input type="radio" id="clicks" name="clicks" value="100"> 100<br>
        <input type="radio" id="clicks" name="clicks" value="500"> 500<br><br>

        <label for="interval">Seconds between clicks:</label><br>
        <input type="radio" id="interval" name="interval" value="0"> None<br>
        <input type="radio" id="interval" name="interval" value="0.25"> 0.25<br>
        <input type="radio" id="interval" name="interval" value="0.5"> 0.5<br><br>

        <input type="submit" value="Start">
    </form>
</body>
</html>
